/*header*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 17px;
}
.header{
    position:relative;
    width:100% ;
    background-color: royalblue;
    padding: 7px 0; 
}

.subtitulo{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 8px;
}

.subtitulo:after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color:black;
    margin: 10px auto;
}
.header_menu{
    text-align: right;
    
}

.header_menu ul li{
    display: inline-block;
    margin-top: 35px;
    margin-left: 25px;
}

.header_menu ul li a{
    color: white;
    font-size: 20px;
    line-height: 10px;
    padding: 10px 0;
}

.header_menu ul li a:hover{
    color: teal;
}

.introducao{
    width: 100%;
    height: 400px;
    background: url("../img/1.jpeg")no-repeat center;
    background-size: cover;
    text-align: center;
}

.introducao h1{
    width: 100%;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 90px;
}

.caixa{
    max-width: 600px;
    margin: 0 auto;
}

.caixa p{
    font-style: italic;
    margin-top: 25px;

}
.caixa p:before, .caixa p:after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: white;
    margin: 10px auto;
}
.caixa a{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.servicos{
    padding: 60px 0;
    color: white;
    text-align: center;
}

.servicos_lista li{
    background-color: black;
}

.servicos_lista h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-top: 8px; 
    
}
.servicos_lista p{
    padding: 12px;

}
.servicos_icones{
    background-color: royalblue;
    padding: 20px;
}
.btn{
    border: 3px solid royalblue;
    padding: 10px 30px;
    color:royalblue ;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.call{
    color: black;
    text-align: center;
    padding-top: 20px;
    clear: both;
}
.call p{
    margin-bottom: 20px;
}